.cards {
  display: flex;
  flex-direction: column;
  gap: var(--space-big-m);

  .middle-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-big-m);
  }
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;

    .card {
      width: 33%;
    }

    .middle-cards {
      width: 33%;

      .card {
        width: 100%;
      }
    }
  }
}